/***********************************************************************
 * Title: Religions of the Roman World
 * Use: Information
 * Author: Joseph Lane
 * School/Term: SIU Spring/2020
 * Developed: 04/15/2020
 * Tested: 05/01/2020 Firefox and Chromium(linux and android)
 * ********************************************************************/
 
/* fonts */
@font-face {
    font-family: 'RomanesqueSerifRegular';
      src: url('../fonts/RomanesqueSerifRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OldStandardRegular';
      src: url('../fonts/OldStandard-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* heading styles */
h1, h2, h3, h4, h5{
  color: #252B45;
  text-shadow: .25px .5px 1px black;;
  font-family: 'RomanesqueSerifRegular';
  font-weight: normal;
  font-style: normal; 
  /*padding: .25em;*/
  text-align: center;
}

h1 {font-size: 200%;}
h2 {font-size: 175%;}
h3 {font-size: 150%;}
h4 {font-size: 125%;}
h5 {font-size: 100%;}
h6 {font-size: 90%;}

/* paragraph and list padding */ 
p, ul {padding: 0 2em;}
li { padding: .25em .25em; }

/* link styles */
a {
  font-family: 'RomanesqueSerifRegular';
}
/* CSS for all pages on desktop or tablet*/
body {
  font-family: 'OldStandardRegular'; 
  background-image: url("../images/background.png");
  font-size: 100%;
  margin: 1% auto;
  max-width: 960px;
  min-width: 320px;
  color: black;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  
  /*Grid layout */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(5, auto);
  grid-template-areas:
      "head head head"
      "navi navi navi"
      "main main side"
      "art art art"
      "foot foot foot";
}

/* Navigation menu */

/* Hide mobile menu */
.hide_mobile_menu {
  display:none;
}
nav { 
  grid-area: navi; 
  border-bottom:2px solid rgba(0, 0, 0, 0.3);
  text-align: center;
  background-color: rgba(235, 216, 171, 0.5);
  opacity: 75%;
}
nav a{
  text-decoration:none;
  color:#3F3C3C;
}
nav ul {
  align-content: center;
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template: auto / repeat(6, 1fr);
}

nav ul li { 
  padding: 1% .5% 1% .5%;
}
nav ul li a {
  display: block;
  text-align: center;
} 

/* Hover behavior */
nav ul li a:hover {text-shadow: .25px .5px 1px black;}

/* Style for the current page menu item */
nav ul li a.current {
  text-shadow:.25px .5px 1px black;
}

header {
  grid-area: head;
  background-color: rgba(221, 198, 144, 0.6);
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}


/* Video player properties */
#videoplayer {
  display: block;
  position: relative;
  text-align:center;
  width: 50%;
  height: auto;
  margin: 0 auto;
  border: 2px solid #C2A86B;
  border-radius: 10px;
}
/* accordion menu */
section.accordion {
  width:100%;
  border-bottom: 2px solid #C2A86B;
  background-color: rgba(221, 198, 144, 0.6);
}

section.accordion h3{
  margin:0;
  padding:0;
}
section.accordion h3 a{
  display:block;
  padding:.5em;
  background-color:rgba(194, 168, 107, 0.6);
  border: 2px solid #C2A86B;
  border-radius: 5px 5px 0 0;
  color: #252B45;
  text-decoration: underline;
}
section.accordion h3 a:hover { 
  background-color: rgba(194, 168, 107, 1)
}
section.accordion div{
  height:0;
  overflow: hidden;
  transition: height 2s ease-in-out;
  padding-left:1em;
}
section.accordion div:target{
  height: 35em;
  padding:1em 1em 0 0;
  border-left: 2px solid #C2A86B;
  border-right: 2px solid #C2A86B;
}

/* accordion div images */
#indeximg {
  width:50%;
  position: relative;
  left: 25%;
}
#pagimg{
  
  width:30%;
  position: relative;
  left:33%;
  border: 2px solid #C2A86B;
  border-radius: 5px;
}
#isisimg{
  
  width:30%;
  float:right;
  border: 2px solid #C2A86B;
  border-radius: 5px;
}
#dioimg{
  width:45%;
  position: relative;
  left:28%;
  border: 2px solid #C2A86B;
  border-radius: 5px;
}
#mithimg{
  width:50%;
  position: relative;
  left: 25%;
  border: 2px solid #C2A86B;
  border-radius: 5px;
}
#tempimg{
  width:45%;
  float:right;
  border: 2px solid #C2A86B;
  border-radius: 5px;
}
#wallimg{
  width:30%;
  float:right;
  border: 2px solid #C2A86B;
  border-radius: 5px;
}
/* Two column and article layout*/
article {
  grid-area: art;
  padding:.5em;
  background-color: rgba(242, 229, 197, 0.5);
}

main {
  grid-area: main;
  padding: .5em;
  background-color: rgba(242, 229, 197, 0.5);
  }

aside {
  grid-area: side;
  border-left: 2px solid rgba(0, 0, 0, 0.3);
  padding:.5em;
  background-color: rgba(242, 229, 197, 0.5);
}
aside a{
  text-decoration:underline;
  color:black;
}
aside a:hover {
  color: #343030;
}
aside li {
  padding-bottom: 1em;
}
/* table styling */
table {
  width: 100%;
  border: rgba(0, 0, 0, 0.4);
  border-collapse: collapse;
}
th {background-color: rgba(209, 173, 118, 0.6);}

th, td {
  border: 2px solid rgba(0, 0, 0, 0.4);
  padding: .25em;
  text-align: left;
}
td.left {
  background-color: rgba(209, 173, 118, 0.6);
  font-weight:bold;
}
/*form styling */
label {
  display:block;
  float:left;
  width: 8em;
  font-weight: bold;
  text-align: left;
}
input, select {
  display:block;
  width: 25%;
  margin-left: 0;
  margin-bottom: .5em;
}


form{width:100%;}
textarea {
  width:75%;
}
#reset, #submit {
  display: block;
  width: 8em;
  text-align: center;
  float: left;
}

/*footer styling */
#copyright {text-align: right; padding-right: 1%; }
footer {
  grid-area:foot;
  border-top: 2px solid rgba(0, 0, 0, 0.3);
  width: 99%;
  background-color: rgba(221, 198, 144, 0.5);
  padding-left:1%;
}



/* mobile menu enabled for mobile and small screens, change to one column  */
@media only screen and (max-width: 785px) {
  .hide_mobile_menu {
    display: block;
  }

  nav section.mobile_menu div ul{
    float:none !important;
    width: 100%;
    list-style-type:none;
    display:block;
  }
  nav section.mobile_menu div{
    overflow: hidden;
    height:0;
    transition: height 2s ease-in-out;
  }
  nav section.mobile_menu div:target {
    height: 12em;
  } 
  /*responsive accordion menu*/
  section.accordion div:target{
  height: auto;
  }
  body {
  grid-template-columns: 1fr !important;
  grid-template-rows: repeat(6, auto) !important;
  grid-template-areas:
      "head"
      "navi"
      "art"
      "main"
      "side"
      "foot" !important;
  }
  aside {border-top: 2px solid rgba(0, 0, 0, 0.3)}

}
/* Responsive tables for small screens */
@media only screen and (max-width: 640px) {
  thead {display: none;}
  th, td {
    display:block;
  }
}  
