/***********************************************************************
  *Title: bike.css
  *Use: Style sheet for Lane's Bikes
  *Author: Joseph Lane
  *School/Term: Southern Illinois University, Spring 2020
  *Developed: Feb 5, 2020
  *Tested: March 22, 2020; Validated on w3c, Tested on firefox, chromium, 
 ***********************************************************************
 */

/* CSS for all Lane's Bikes pages on desktop or tablet*/
body {
  background: #D2DADD;
  color: #000512;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 90%;
  margin: 1% auto;
  max-width: 960px;
  border: 2px solid #29363B;
  /*Grid layout */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, auto);
  grid-template-areas:
      "navi navi"
      "head head"
      "main main"
      "art side"
      "foot foot";
}

/* padding for headings, paragraphs and list items */
h1, h2, h3, h4, h5 { padding: 0 1%; } 
h1 {font-size: 200%; color: #29363B;}
h2 {font-size: 175%;}
h3 {font-size: 150%;  color: #0C1519}
h4 {font-size: 125%;}
h5 {font-size: 100%;}
p { padding: 0 0;}
li { padding-left: 1%; }

/* Navigation menu */

/* Hide mobile menu */
#mobile_menu { display:none;}
#nav_menu { grid-area: navi; background-color: #B0BDC2;}
#nav_menu ul {
  align-content: center;
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template: auto / repeat(5, 1fr);
}

#nav_menu ul li { 
  padding: 1% .5% 1% .5%;
}
#nav_menu ul li a {
  color: #29363B;
  display: block;
  font-size:125%;
  text-align: center;
  text-decoration: none;
} 

/* Hover behavior */
#nav_menu ul li a:hover { border-bottom: 1px solid #29363B;}

/* Style for the current page menu item */
#nav_menu ul li a.current {
  border-bottom: 1px solid #5E5E5E;
  color: #5E5E5E;
}

header {
  grid-area: head;
  border-top: 2px solid #29363B;
  border-bottom: 2px solid #29363B;
  padding-bottom: 1%;
  text-align: center;
}
/* Position and border for main page image */

#bikeimg { 
  
  position: relative;
  left: 17%;
  background-image: url("../images/bike.jpg");
  width: 50%;
  height: auto;
  max-width: 420px;
  max-height: 280px;
  border: 5px solid #29363B;
  border-radius: 25px;
  text-align:center;
  background-repeat: no-repeat;
  padding: 20% 5%;
  background-size: cover
}
/* rollover image */
#bikeimg:hover {
  
  background: url("../images/bike2.jpg");
  background-repeat: no-repeat;
  
  background-size: cover;
}
/* Video player properties */
#videoplayer {
  display: block;
  position: relative;
  width: 50%;
  height: auto;
  margin: 0 auto;
}


/* Two column layout */


main {
  grid-area: main;
  padding: .25em;
  border-bottom: 2px solid #29363B;
  }
main h1,h2,h3 {text-align: center;}

article { 
  grid-area: art;
  padding: .25em;
  }
aside {
  grid-area: side;
  border-left: 2px solid #29363B;
  padding: .25em;
}
/* table styling */
table {
  width: 100%;
  border: 1px solid #29363B;
  border-collapse: collapse;
}
th {background-color: #C6D0D4;}

th, td {
  border: 1px solid #29363B;
  padding: .25em;
  text-align: left;
}
td.left {
  background-color: #B0BDC2;
  font-weight:bold;
}
/*form styling */
label {
  float:left;
  width: 8em;
  font-weight: bold;
  text-align: right;
}
input, select {
  width: 15em;
  margin-left: 1em;
  margin-bottom: .5em;
}
input:focus {
  
}
fieldset {
  width: 75%;
  float: none;
  margin: 1em;
  font-weight: bold;
}
fieldset input{
  width:1em;
}
fieldset label {
  float: none;
}
textarea {
  width:50%;
  height: 10em;
  margin: 1em;
}
#reset #submit {
  width: 7em;
}

/*footer styling */
footer {
  grid-area:foot;
  background-color: #B0BDC2;
  border-top: 2px solid #29363B;
  width: 100%;
}
#copyright {text-align: right; padding-right: .25em;}
address { padding-left: 1%;}

/* mobile menu enabled for mobile screens */
@media only screen and (max-width: 785px) {
  #nav_menu {display: none;}
  #mobile_menu {display: block; grid-area: navi;}
  #mobile_menu ul li a {color: grey;}
  #mobile_menu ul li a.current {color: black;}
  .slicknav_menu { background-color: #B0BDC2 !important;}
  
}
/* get rid of column layout for smaller mobile screens */
@media only screen and (max-width: 485px) {
  body {
  grid-template-columns: 1fr !important;
  grid-template-rows: repeat(6, auto) !important;
  grid-template-areas:
      "navi"
      "head"
      "main"
      "art"
      "side"
      "foot" !important;
}
aside {border: 0;}
thead {display: none;}
th, td {
  display:block;
}
aside {
  border-top: 1px solid #29363B;
}
}
