/***********************************************************************
  *Title: bike.css
  *Use: Style sheet for Lane's Bikes
  *Author: Joseph Lane
  *School/Term: Southern Illinois University, Spring 2020
  *Developed: Feb 5, 2020
  *Tested: Feb 21, 2020; Validated on w3c, Tested on firefox, chrome
 ***********************************************************************
 */

/* CSS for all Lane's Bikes pages on desktop or tablet*/
body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 100%;
  margin: 5% auto;
  width: 90%;
  max-width: 960px;
  background: #D2DADD;
  border: 1px solid black;
}

/* padding for headings, paragraphs and list items */
h1, h2, h3, h4, h5 { padding: 1%; } 

p { padding: 0 1%; }

li { padding-left: 1%; }

/* Navigation menu */


#nav_menu ul {
  list-style-type: none; 
  padding: 0;
  width:100%;
}
#nav_menu ul li { 
  float: left; 
  padding: 1% .5% 1% .5%;
  width:19%;
}
#nav_menu ul li a {
  text-align: center;
  display: block;
  width: 100%;
  text-decoration: none;
  color: grey;
  
} 

/* Hover behavior */
#nav_menu ul li a:hover { border-bottom: 1px solid grey }

/* Style for the current page menu item */
#nav_menu ul li a.current {
  color: black;
  border-bottom: 1px solid black;
}

header {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  clear:both;
  width: 100%;
}

/* Position and border for main page image */
#bikeimg { 
  width: 50%;
  max-width: 400px;
  position: relative;
  left: 25%;
  border: 5px solid blue;
  border-radius: 25px;
}

/* Two coulumn layout */

main {
  
  text-align: left;
  width: 54%;
  float: left;
}

aside {
  height: 100%;
  width: 45%;
  float: right;
  border-left: 1px solid black;
}

footer {
  clear: both;
  border-top: 1px solid black;
  width: 100%;
  
}
#copyright {text-align: right}
address { padding-left: 1%;}

/* Hide mobile menu */
#mobile_menu { display:none;}

/* mobile menu enabled for mobile screens */
@media only screen and (max-width: 785px) {
  #nav_menu {display: none;}
  #mobile_menu {display: block}
  #mobile_menu ul li a {color: grey;}
  #mobile_menu ul li a.current {color: black;}
  .slicknav_menu { background-color: #B0BDC2 !important;}
  
}
/* get rid of column layout for smaller mobile screens */
@media only screen and (max-width: 479px) {
  main {
  
  text-align: left;
  width: 100%;
  float: left;
}
  aside { width: 100%;}
}
