/***********************************************************************
  *Title: bike.css
  *Use: Style sheet for Lane's Bikes
  *Author: Joseph Lane
  *School/Term: Southern Illinois University, Spring 2020
  *Developed: Feb 5, 2020
  *Tested: Feb 27, 2020; Validated on w3c, Tested on firefox, chromium, 
  * android chrome
 ***********************************************************************
 */

/* CSS for all Lane's Bikes pages on desktop or tablet*/
body {
  background: #D2DADD;
  color: #000512;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 90%;
  margin: 1% auto;
  max-width: 960px;
  border: 2px solid #29363B;
  
  
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
      "navi navi"
      "head head"
      "main side"
      "foot foot";
}

/* padding for headings, paragraphs and list items */
h1, h2, h3, h4, h5 { padding: 0 1%; } 
h1 {font-size: 200%; color: #29363B;}
h2 {font-size: 175%;}
h3 {font-size: 150%;  color: #0C1519}
h4 {font-size: 125%;}
h5 {font-size: 100%;}

p { padding: 0 2%;}

li { padding-left: 1%; }

/* Navigation menu */
#nav_menu { grid-area: navi; background-color: #B0BDC2;}
#nav_menu ul {
  align-content: center;
  list-style-type: none;
  padding: 0;
  
  display: grid;
  grid-template: auto / repeat(5, 1fr);
}

#nav_menu ul li { 
  padding: 1% .5% 1% .5%;
}
#nav_menu ul li a {
  color: #29363B;
  display: block;
  font-size:125%;
  text-align: center;
  text-decoration: none;
} 

/* Hover behavior */
#nav_menu ul li a:hover { border-bottom: 1px solid #29363B;}

/* Style for the current page menu item */
#nav_menu ul li a.current {
  border-bottom: 1px solid #5E5E5E;
  color: #5E5E5E;
}

header {
  grid-area: head;
  border-top: 2px solid #29363B;
  border-bottom: 2px solid #29363B;
  padding-bottom: 1%;
  text-align: center;
  
  
}

/* Position and border for main page image */
#bikeimg { 
  border: 5px solid #29363B;
  border-radius: 25px;
  width: 35%;
  max-width: 400px;
}

/* Two coulumn layout */

main {grid-area: main;}

aside {
  grid-area: side;
  border-left: 2px solid #29363B;
}

footer {
  grid-area:foot;
  background-color: #B0BDC2;
  border-top: 2px solid #29363B;
  width: 100%;
}
#copyright {text-align: right;}
address { padding-left: 1%;}

/* Hide mobile menu */
#mobile_menu { display:none;}

/* mobile menu enabled for mobile screens */
@media only screen and (max-width: 785px) {
  #nav_menu {display: none;}
  #mobile_menu {display: block; grid-area: navi;}
  #mobile_menu ul li a {color: grey;}
  #mobile_menu ul li a.current {color: black;}
  .slicknav_menu { background-color: #B0BDC2 !important;}
  
}
/* get rid of column layout for smaller mobile screens */
@media only screen and (max-width: 485px) {
  body {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
  grid-template-areas:
      "navi"
      "head"
      "main"
      "side"
      "foot";
}
aside {
  border-top: 1px solid #29363B;
}
