/***********************************************************************
  *Title: bike.css
  *Use: Style sheet for Lane's Bikes
  *Author: Joseph Lane
  *School/Term: Southern Illinois University, Spring 2020
  *Developed: Feb 5, 2020
  *Tested: Feb 15, 2020; Validated on w3c, Tested on firefox, chrome
 ***********************************************************************
 */

/* CSS for all Lane's Bikes pages */
body {
  margin: 10px;
  width: 725px;
  background: #D2DADD;
  border: 1px solid black;
}

/* padding for headings, paragraphs and list items */
h1, h2, h3, h4, h5 { padding: 10px; } 

p { padding: 0 5px; }

li { padding-left: 10px; }

/* Navigation menu */
#nav_menu ul {
  list-style-type: none; 
  padding: 10px;
  
}
#nav_menu ul li { 
  float: left; 
  padding: 10px 5px;
}
#nav_menu ul li a {
  text-align: center;
  display: block;
  width: 128px;
  text-decoration: none;
  color: grey;
  
} 

/* Hover behavior */
#nav_menu ul li a:hover { border-bottom: 1px solid grey }

/* Style for the current page menu item */
#nav_menu ul li a.current {
  color: black;
  border-bottom: 1px solid black
}

header {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  clear:both;
}

/* Position and border for main page image */
#bikeimg { 
  position: relative;
  left: 200px;
  border: 5px solid blue;
  border-radius: 25px;
}

/* Two coulumn layout */
main {
  width: 362px;
  float: left;
}

aside {
  height: 100%;
  width: 362px;
  float: right;
  border-left: 1px solid black;
}

footer {
  clear: both;
  border-top: 1px solid black;
  
}
#copyright {text-align: right}
