<nav id="nav_list">
  <ul>
    <li><a href="index.htm">Home</a></li>
    <li><a href="rentals.htm">Rentals</a></li>
    <li><a href="sales.htm">Sales</a></li>
    <li><a href="services.htm">Services</a></li>
    <li><a href="contact.htm">Contact</a>></li>
  </ul>
</nav>
